# .gitignore

.DS_Store

# Ignore build artifacts
/build/
/build.nosync/
*.o
*.obj
*.so
*.a
*.lib
*.dll
*.exe
*.out

# CMake build files
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile

# Environment files
.env
.vscode

# Logs
*.log

# Core dumps
core

# Ignore backup/swap files
*~
*.swp
*.swo